
  <!-- HEADER -->

  <div class="subnav-hero-section">
    <h1 class="subnav-hero-headline">
        <a href="./index">{{title}}</a>
    </h1>
    <ul class="subnav-hero-subnav">
        <li>
            <a href="./index">Upcoming Events</a>
        </li>
        <li>
            <a href="./blog">Search Event Blog</a>
        </li>
        <li>
            <a href="./favorites">My Favorites</a>
        </li>
        <li>
            <a href="./bizdirect">Business Directory</a>
        </li>
    </ul>
    <a href="./index.html" id="logout">Log Out</a>
  </div>

<div class="bizdirect-body">

    <!-- ABC ORDER NAV BAR -->

    <ul class="nav nav-pills nav-fill bizdirect-nav">
      <li class="nav-item">
        <a class="nav-link ae biz-link sort" data-sort="name" href="#">A - E</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fj biz-link" href="#">F - J</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ko biz-link" href="#">K - O</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pt biz-link" href="#">P - T</a>
      </li>
      <li class="nav-item">
        <a class="nav-link uz biz-link" href="#">U - Z</a>
      </li>
  </ul>

  <!-- CATEGORIES NAV BAR -->

  <ul class="nav nav-pills nav-fill">
    <!-- <li class="nav-item">
      <a class="nav-link cat-link" href="#">Animals</a>
    </li> -->
    
    {{!-- creates buttons according to categories --}}

 
    <li class="nav-item">
      <a class="nav-link cat-link food-drink" href="#">Food &amp; Drink</a>
    </li>
    <li class="nav-item">
      <a class="nav-link cat-link arts-ent" href="#">Arts &amp; Entertainment</a>
    </li>



    <!-- <li class="nav-item">
      <a class="nav-link cat-link" href="#">Sports & Travel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link cat-link" href="#">Social</a>
    </li> -->
  </ul>

 <!-- GALLERY OF ORGS -->

  <div class="gallery-row">

    <div class="gallery-column">
      <div class="biz-container org-ae fd-box hideOrg">
          <a href="./org1">
            <img class="org" src="css/images/comp.jpg">
              <h5 class="text-center">Buffet Club</h5>
          </a>
      </div>
      <div class="biz-container org-ko ae-box hideOrg">
        <a href="./org3.html">
          <img class="org" src="css/images/music.jpg">
          <h5 class="text-center">Karaoke Night</h5>
        </a>
      </div>
      <div class="biz-container org-fj ae-box hideOrg">
          <a href="./org5.html">
            <img class="org" src="css/images/comp.jpg">
              <h5 class="text-center">Gaming at Odd Hours</h5>
          </a>
      </div>
    </div>

    <div class="gallery-column">
      <div class="biz-container org-pt ae-box hideOrg">
        <a href="./org2.html">
          <img class="org" src="css/images/music.jpg">
          <h5 class="text-center">Sacramento Music Improv</h5>
        </a>
      </div>
      <div class="biz-container org-ae ae-box hideOrg">
        <a href="./org4.html">
          <img class="org" src="css/images/library.jpg">
          <h5 class="text-center">EXTREME Gaming Night</h5>
        </a>
      </div>
      <div class="biz-container org-uz ae-box hideOrg">
        <a href="./org6.html">
          <img class="org" src="css/images/music.jpg">
          <h5 class="text-center">Underwater Caroling</h5>
        </a>
      </div>
    </div> 

  </div>

  <!-- END GALLERY OF ORGS -->

  </div>
  </div>
  </div>

  <footer></footer>

<script src="./js/bizdirect.js"></script>