<div class="bizdirect-body">

    <!-- ABC ORDER NAV BAR -->

    <ul class="nav nav-pills nav-fill bizdirect-nav">
        <li class="nav-item">
            <a class="nav-link ae biz-link" href="#">A - E</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fj biz-link" href="#">F - J</a>
        </li>
        <li class="nav-item">
            <a class="nav-link ko biz-link" href="#">K - O</a>
        </li>
        <li class="nav-item">
            <a class="nav-link pt biz-link" href="#">P - T</a>
        </li>
        <li class="nav-item">
            <a class="nav-link uz biz-link" href="#">U - Z</a>
        </li>
    </ul>

    <!-- CATEGORIES NAV BAR -->

    <ul class="nav nav-pills nav-fill">

        <li class="nav-item">
            <a class="nav-link cat-link" href="#">Food and Drink</a>
        </li>
        <li class="nav-item">
            <a class="nav-link cat-link" href="#">Art and Entertainment</a>
        </li>

    </ul>

    <h5 class="events-h5 text-center">Don't see your favorite event here? <a href="./cms">Create one now!</a></h5>

    <!-- GALLERY OF ORGS -->

    <div class="gallery-row">
        <div class="gallery-column">
            <div class="biz-container" id="events-biz-container">
                <a href="./org1">
                    <img class="org1" src="css/images/comp.jpg">
                </a>
                <div class="event-info">
                    <h5 class="events-h5 text-center">Event 1</h5>
                    <h6>We'll be practicing some mindfulness and possibly engaging in once-illegal activities that will definitely relieve my headache.</h6>
                    <button class="add-fav-btn"><h5 class="events-h5"><a href="./favorites">Add to favorites!</a></h5></button>
                </div>
            </div>
            <div class="biz-container" id="events-biz-container">
                <img src="css/images/library.jpg">
                <div class="event-info">
                    <h5 class="events-h5 text-center">Event 2</h5>
                    <h6>Hey, I just met you...</h6>
                    <button class="add-fav-btn"><h5 class="events-h5">Add to favorites!</h5></button>
                </div>
            </div>
        </div>
        <div class="gallery-column">
            <div class="biz-container" id="events-biz-container">
                <img class="org2" src="css/images/music.jpg">
                <div class="event-info">
                    <h5 class="events-h5 text-center">Event 3</h5>
                    <h6>Parkour in the Sky. 'Nuff said.</h6>
                    <button class="add-fav-btn"><h5 class="events-h5">Add to favorites!</h5></button>
                </div>
            </div>
            <div class="biz-container" id="events-biz-container">
                <img class="org2" src="css/images/comp.jpg">
                <div class="event-info">
                    <h5 class="events-h5 text-center">The Big Hibernation</h5>
                    <h6>Help, I'm trapped in this classroom and I can't get out.</h6>
                    <button class="add-fav-btn"><h5 class="events-h5">Add to favorites!</h5></button>
                </div>
            </div>
        </div>
    </div>

    <!-- END GALLERY OF ORGS -->

</div>
</div>
</div>

<footer></footer>

<!-- Custom Script -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

 <script src="js/blog.js" type="text/javascript"></script>

<script src="js/bizdirect.js" type="text/javascript"></script>