<link rel="stylesheet" href="./css/bizdirect.css">

<div class="container">
    {{!-- <div class="row mt-4"> --}}
        {{!-- <div class="col-md-4"> --}}

            <div id="events-grid" class="side-by-side">
                {{!-- <div style="width:500px; height:290px" class="callout text-center"> --}}
                <div class="text-center">
                    <h2 class="index-h2">Upcoming Events</h2>
                    <div id="events">
                        {{!-- will populate with events --}}
                    </div>
                    <div class="row NewStory">
                        {{!-- <div class="new"> --}}
                        <h2 class="index-h2"><a class="index-a" href='/cms'>Post your event!</a></h2>
                    {{!-- </div> --}}
                {{!-- </div> --}}
                </div>
                
            </div>
{{!-- 
            <div id="video" class="side-by-side">
                <iframe width="574" height="290" src="https://www.youtube.com/embed/FsVkcy0bEbM" frameborder="0" allow="autoplay; encrypted-media"
                    align="middle" allowfullscreen></iframe>

            </div> --}}

            <div id="sign-up-box">
                <form class="callout text-center">
                    <h2>Join the fun. Sign up today!</h2>
                    <div class="floated-label-wrapper">
                        <label for="email">Email</label>
                        <input type="email" id="signup-email" name="email input" placeholder="Email">
                    </div>
                    <div class="floated-label-wrapper">
                        <label for="pass">Password</label>
                        <input type="password" id="signup-password" name="password input" placeholder="Password">
                    </div>
                    <input class="button expanded" type="submit" value="Sign up" id="signup">
                    <p>Already a member? Sign in
                        <a class="here" id="signinhere">here.</a>
                    </p>
                </form>

            </div>

            <!-- https://www.youtube.com/watch?v=FsVkcy0bEbM -->




            <!--   </div>
      </div>
      -->
            <!-- <div class="col-md-2">
        <a class="btn btn-light" href="/cms">New Story</a>
      </div> -->
        {{!-- </div> --}}

    {{!-- </div> --}}
</div>

<footer>
    
</footer>

<!-- Custom Script -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>

<script src="js/index2.js" type="text/javascript"></script>